
#contact-page{
   padding:100px;
   background-color:rgba(211, 211, 211, 0.082);
   height:100vh;
}
.enquiry-header{
   background-color:rgba(255, 68, 0, 0.959) !important;
   color:white;
}
.contact-title{
   font-size:2rem;
   font-weight:700;
   padding-bottom:1rem;
}
.contact-submit{
   text-decoration: none;
   color:white;
   padding:0.9rem 2.3rem;
   background-color:rgba(255, 68, 0, 0.959);
   border:1px solid transparent;
   transition:all .8s ease;
   font-size:0.8rem;
}
.contact-info{
   font-family: 'Roboto', sans-serif;
   padding-top:4rem;
   p{
       padding-bottom:0.7rem;
   }
}
@media (min-width:0px) and (max-width:370px){
    #contact-page{
        padding-left:50px;
        padding-right:80px;
        padding-bottom:1000px;
        .card{
            width:150%;
        }
    }
   .contact-submit{
       font-size:0.7rem;
       padding:0.5rem 2rem;
   }
   .contact-title{
       font-size:1.1rem;
       font-weight:700;
   }
   .contact-text{
       font-size:0.9rem;
   }
   .contact-info{
       font-size:0.9rem;
   }
}
@media (min-width: 371px) and (max-width: 500px) {
    #contact-page{
        padding-bottom:1000px;
        .card{
            width:120%;
        }
    }
    .contact-submit{
        font-size:0.7rem;
        padding:0.5rem 2rem;
    }
    .contact-title{
        font-size:1.1rem;
        font-weight:700;
    }
    .contact-text{
        font-size:0.9rem;
    }
    .contact-info{
        font-size:0.9rem;
    }
 
}
@media (min-width: 501px) and (max-width: 540px) {
    #contact-page{
        padding-bottom:1000px;
        .card{
            width:120%;
        }
    }
   .contact-submit{
       font-size:0.7rem;
       padding:0.5rem 2rem;
   }
   .contact-title{
       font-size:1.1rem;
       font-weight:700;
   }
   .contact-text{
       font-size:0.9rem;
   }
   .contact-info{
       font-size:0.9rem;
   }
}
@media (min-width: 541px) and (max-width: 767px) {
    #contact-page{
        padding-bottom:1000px;
        .card{
            width:100%;
        }
    }
   .contact-submit{
       font-size:0.7rem;
       padding:0.5rem 2rem;
   }
   .contact-title{
       font-size:1.1rem;
       font-weight:700;
   }
   .contact-text{
       font-size:0.9rem;
   }
   .contact-info{
       font-size:0.9rem;
   }
 
}
 
// Medium devices (tablets, 768px and up)
@media (min-width: 768px) and (max-width: 900px) {
    #contact-page{
        padding-bottom:700px;
        .card{
            width:140%;
        }
    }
   .contact-submit{
       font-size:0.7rem;
       padding:0.5rem 2rem;
   }
   .contact-title{
       font-size:1.1rem;
       font-weight:700;
   }
   .contact-text{
       font-size:0.9rem;
   }
   .contact-info{
       font-size:0.9rem;
   }
}
@media (min-width: 901px) and (max-width: 991px) {
    #contact-page{
        padding-bottom:700px;
        .card{
            width:120%;
        }
    }
   .contact-submit{
       font-size:0.7rem;
       padding:0.5rem 2rem;
   }
   .contact-title{
       font-size:1.1rem;
       font-weight:700;
   }
   .contact-text{
       font-size:0.9rem;
   }
   .contact-info{
       font-size:0.9rem;
   }
}
// Large devices (desktops, 992px and up)
@media (min-width: 992px) and (max-width: 1099px) {
   .contact-submit{
       font-size:0.7rem;
       padding:0.5rem 2rem;
   }
   .contact-title{
       font-size:1.8rem;
       font-weight:700;
   }
   .contact-text{
       font-size:0.9rem;
   }
   .contact-info{
       font-size:0.9rem;
   }
}
@media (min-width: 1100px) and (max-width: 1119px) {
   .contact-submit{
       font-size:0.7rem;
       padding:0.5rem 2rem;
   }
   .contact-title{
       font-size:1.8rem;
       font-weight:700;
   }
   .contact-text{
       font-size:0.9rem;
   }
   .contact-info{
       font-size:0.9rem;
   }
}
@media (min-width: 1120px) and (max-width: 1199px) {
  
}
 
// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) and (max-width: 1399px) {
 
}
@media (min-width: 1400px) and (max-width: 1500px) {
 
}
