footer{
    // margin-bottom:0rem;
    height:3vh;
    border-top:1px solid rgba(0, 0, 0, 0.281);
   
    p{
        font-size:0.8rem;
        cursor:pointer;
    }
}
.footer{
   
    // background-color:rgba(211, 211, 211, 0.219);
    display:flex;
    justify-content:space-around;
    align-items:center;
    padding-top:2rem;
    padding-bottom:1rem;
}
.first-footer{
    p{
        font-size:1rem;
    }
    
}
.footer-heading{
    font-weight:bold;
}
.second-footer{
    display:flex;
    justify-content: space-around;
    align-items: center;
}

.social-icon-footer{
    font-size:15px;
    padding-left:0.5rem;
    color:black;
}




@media (max-width:599px){
    .first-footer{
        p{
            font-size:0.9rem;
        }
        
    }
    .social-icon-footer{
        font-size:12px;
    
       
    }
}
@media (min-width:600px){
    .first-footer{
        p{
            font-size:0.9rem;
        }
        
    }
    .social-icon-footer{
        font-size:12px;
    
       
    }
}
@media (min-width:900px){
  
}
@media (min-width:1200px){
    .first-footer{
        p{
            font-size:1rem;
        }
        
    }
    .social-icon-footer{
        font-size:15px;
    
       
    }
}
@media (min-width:1500px){
  
}

