
.hero{
    width:100vw;
    position:relative;
    height:100vh;
      
    .split{
        position: absolute;
        height:100vh;

    }
    .left-split{
        width:40%;
        left:0;
        background-color:rgba(211, 211, 211, 0.082);
         
    }
    .right-split{
        width:60%;
        right:0;

    }
    .right-split-image-container{
        width:90%;
        height:100vh;

        .right-split-image{
            object-fit: cover;
            height:100%;
            width:100%;
        }
    }
    .right-split-image-container-2{
        width:70%;
        height:100vh;
        background-color: orangered;
    }
    .right-split-side-bar{
        position: absolute;
        top:0;
        right:0;
        width:10%;
        height:100vh;
        background-color:white;
    }
    
    .hero-text{
        position: absolute;
        top:30%;
        left:20%;
        .intro{
            color:black;
            font-weight:300;
            font-size:3rem;
            // padding-bottom:0.3rem;
        }
        .hero-title{
            color:	rgba(0, 0, 128, 0.829);
            font-size:3rem;
            font-weight:500;
            padding-bottom:1rem;
            letter-spacing: 1px;
        }
    
        .details{
            padding-bottom:4rem;
            color:grey;
            letter-spacing:0.5px;
        }
    }
  
    .booking{
        text-decoration:none;
        color:white;
        border:1px solid orangered;
        padding:1rem 3rem;
        background-color: orangered;
     
    
    }
    

    .social-icons{
        position: absolute;
        bottom:10%;
        left:5%;
        .fa-instagram, .fa-twitter, .fa-facebook{
            font-size:25px;
            color:black;
        }
    }

       
}
.home-food-menu{
    background-color:rgba(211, 211, 211, 0.082);
    height:100vh;
    margin-bottom:10rem;
    h4{
        font-size:2rem;
        font-weight:700;
        text-align: center;
        padding-top:4rem;
    }
    .more-food-menu-container{
        margin:4rem 0rem;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .more-food-menu-link{
        text-decoration: none;
        border:1px solid transparent;
        background-color: orangered;
        color:white;
        transition:all 1s ease;
        padding:1rem 2rem;
        &:hover{
            border:2px solid transparent;
        }
    }

    .menu-card-container{
        display:grid;
        grid-gap:1rem;
        grid-template-columns:repeat(auto-fill, minmax(310px,1fr));
        margin-left:12rem;
        margin-right:10rem;
        margin-top:2rem;
        margin-bottom:2rem;
    }
    .menu-card{
        width:20rem;
        height:18rem;
        box-shadow:0px 4px 8px 0px grey;
        transition: all 0.5s ease-in-out;
        cursor: pointer;
        
        &:hover{
            box-shadow: 0px 16px 32px 0px grey;
        }
    }
}

  
@media (min-width:0px) and (max-width:370px){
    .hero{
        .hero-text{
            .intro{
                font-size:1.5rem;
            }
            .hero-title{
                font-size:1.5rem;
                letter-spacing: 1px;
            }
        
            .details{
                // padding-bottom:3rem;
                display:none;
            }
        }
        .social-icons{
            .fa-instagram, .fa-twitter, .fa-facebook{
                font-size:18px;
            }
        }
        .right-split-image-container{
            width:100%;
        }
        .right-split-side-bar{
          display:none;
        }
        .booking{
          display: none;
        }
    }
    .home-food-menu{
        height:100vh;
        padding-bottom:1700px;
        h4{
            font-size:1.6rem;
            padding-top:4rem;
        }
        .more-food-menu-container{
            // margin:4rem 2rem;
            margin-left:3rem;
        }
        .more-food-menu-link{
            padding:1rem 2rem;
        }
    
        .menu-card-container{
            margin-left:3rem;
            margin-right:0rem;
            margin-top:2rem;
            margin-bottom:2rem;
        }
        .menu-card{
            width:15rem;
            height:15rem;
        }
    }
  
   
}
@media (min-width: 371px) and (max-width: 500px) {
    .hero{
        .hero-text{
            .intro{
                font-size:2rem;
            }
            .hero-title{
                font-size:2rem;
                letter-spacing: 1px;
            }
        
            .details{
                // padding-bottom:3rem;
                display:none;
            }
        }
        .social-icons{
            .fa-instagram, .fa-twitter, .fa-facebook{
                font-size:18px;
            }
        }
        .right-split-image-container{
            width:100%;
        }
        .right-split-side-bar{
          display:none;
        }
        .booking{
          display: none;
        }
    }
    .home-food-menu{
        height:100vh;
        padding-bottom:1700px;
        h4{
            font-size:2rem;
            padding-top:4rem;
        }
        .more-food-menu-container{
            // margin:4rem 2rem;
            margin-left:3rem;
        }
        .more-food-menu-link{
            padding:1rem 2rem;
        }
    
        .menu-card-container{
            margin-left:7rem;
            margin-right:8rem;
            margin-top:2rem;
            margin-bottom:2rem;
        }
        .menu-card{
            width:18rem;
            height:15rem;
        }
    }
}
@media (min-width: 501px) and (max-width: 540px) {
    .hero{
        .hero-text{
            .intro{
                font-size:2rem;
            }
            .hero-title{
                font-size:2rem;
                letter-spacing: 1px;
            }
        
            .details{
                // padding-bottom:3rem;
                display:none;
            }
        }
        .social-icons{
            .fa-instagram, .fa-twitter, .fa-facebook{
                font-size:18px;
            }
        }
        .right-split-image-container{
            width:100%;
        }
        .right-split-side-bar{
          display:none;
        }
        .booking{
          display: none;
        }
    }
    .home-food-menu{
        height:100vh;
        padding-bottom:1700px;
        h4{
            font-size:2rem;
            padding-top:4rem;
        }
        .more-food-menu-container{
            // margin:4rem 2rem;
            margin-left:3rem;
        }
        .more-food-menu-link{
            padding:1rem 2rem;
        }
    
        .menu-card-container{
            margin-left:7rem;
            margin-right:8rem;
            margin-top:2rem;
            margin-bottom:2rem;
        }
        .menu-card{
            width:18rem;
            height:15rem;
        }
    }
  
}
@media (min-width: 541px) and (max-width: 767px) {
    .hero{
        .hero-text{
            .intro{
                font-size:2rem;
            }
            .hero-title{
                font-size:2rem;
                letter-spacing: 1px;
            }
        
            .details{
                // padding-bottom:3rem;
                display:none;
            }
        }
        .social-icons{
            .fa-instagram, .fa-twitter, .fa-facebook{
                font-size:18px;
            }
        }
        .right-split-image-container{
            width:100%;
        }
        .right-split-side-bar{
          display:none;
        }
        .booking{
          display: none;
        }
    }
    .home-food-menu{
        height:100vh;
        padding-bottom:1700px;
        h4{
            font-size:2rem;
            padding-top:4rem;
        }
        .more-food-menu-container{
            // margin:4rem 2rem;
            margin-left:3rem;
        }
        .more-food-menu-link{
            padding:1rem 2rem;
        }
    
        .menu-card-container{
            margin-left:12rem;
            margin-right:8rem;
            margin-top:2rem;
            margin-bottom:2rem;
        }
        .menu-card{
            width:18rem;
            height:15rem;
        }
    }
  
}
  
// Medium devices (tablets, 768px and up)
@media (min-width: 768px) and (max-width: 900px) {
    .hero{
        .hero-text{
            .intro{
                font-size:2rem;
            }
            .hero-title{
                font-size:2rem;
                letter-spacing: 1px;
                margin-bottom:3rem;
            }
        
            .details{
                padding-bottom:3rem;
                display:none;
            }
        }
        .social-icons{
            .fa-instagram, .fa-twitter, .fa-facebook{
                font-size:18px;
            }
        }
        .right-split-image-container{
            width:100%;
        }
        .right-split-side-bar{
          display:none;
        }
        .booking{
          padding:1rem 2rem;
        }
    }
    .home-food-menu{
        height:100vh;
        padding-bottom:1700px;
        h4{
            font-size:2rem;
            padding-top:4rem;
        }
        .more-food-menu-container{
            // margin:4rem 2rem;
            margin-left:3rem;
        }
        .more-food-menu-link{
            padding:1rem 2rem;
        }
    
        .menu-card-container{
            margin-left:15rem;
            margin-right:8rem;
            margin-top:2rem;
            margin-bottom:2rem;
        }
        .menu-card{
            width:18rem;
            height:15rem;
        }
    }
}
@media (min-width: 901px) and (max-width: 991px) {
    .hero{
        .hero-text{
            .intro{
                font-size:2rem;
            }
            .hero-title{
                font-size:2rem;
                letter-spacing: 1px;
                margin-bottom:4rem;
            }
        
            .details{
                padding-bottom:3rem;
                display:none;
            }
        }
        .social-icons{
            .fa-instagram, .fa-twitter, .fa-facebook{
                font-size:18px;
            }
        }
        .right-split-image-container{
            width:100%;
        }
        .right-split-side-bar{
          display:none;
        }
        .booking{
          padding:1rem 2rem;
        }
    }
    .home-food-menu{
        height:100vh;
        padding-bottom:1700px;
        h4{
            font-size:2rem;
            padding-top:4rem;
        }
        .more-food-menu-container{
            // margin:4rem 2rem;
            margin-left:3rem;
        }
        .more-food-menu-link{
            padding:1rem 2rem;
        }
    
        .menu-card-container{
            margin-left:20rem;
            margin-right:8rem;
            margin-top:2rem;
            margin-bottom:2rem;
        }
        .menu-card{
            width:18rem;
            height:15rem;
        }
    }
}
// Large devices (desktops, 992px and up)
@media (min-width: 992px) and (max-width: 1099px) {
    .hero{
        .hero-text{
            .intro{
                font-size:2.5rem;
            }
            .hero-title{
                font-size:2.5rem;
                letter-spacing: 1px;
                margin-bottom:4rem;
            }
        
            .details{
                // padding-bottom:3rem;
                display:none;
            }
        }
        .social-icons{
            .fa-instagram, .fa-twitter, .fa-facebook{
                font-size:18px;
            }
        }
        .right-split-image-container{
            width:100%;
        }
        .right-split-side-bar{
          display:none;
        }
        .booking{
        
          padding:1rem 2rem;
        }
    }
    .home-food-menu{
        height:100vh;
        padding-bottom:1000px;
        h4{
            font-size:2rem;
            padding-top:4rem;
        }
        .more-food-menu-container{
            // margin:4rem 2rem;
            margin-left:3rem;
        }
        .more-food-menu-link{
            padding:1rem 2rem;
        }
    
        // .menu-card-container{
        //     margin-left:20rem;
        //     margin-right:8rem;
        //     margin-top:2rem;
        //     margin-bottom:2rem;
        // }
        .menu-card{
            width:18rem;
            height:15rem;
        }
    }
}
@media (min-width: 1100px) and (max-width: 1119px) {
    .hero{
        .hero-text{
            .intro{
                font-size:2.5rem;
            }
            .hero-title{
                font-size:2.5rem;
                letter-spacing: 1px;
                margin-bottom:4rem;
            }
        
            .details{
                // padding-bottom:3rem;
                display:none;
            }
        }
        .social-icons{
            .fa-instagram, .fa-twitter, .fa-facebook{
                font-size:18px;
            }
        }
        .right-split-image-container{
            width:100%;
        }
        .right-split-side-bar{
          display:none;
        }
        .booking{
        
          padding:1rem 2rem;
        }
    }
    .home-food-menu{
        height:100vh;
        padding-bottom:1000px;
        h4{
            font-size:2rem;
            padding-top:4rem;
        }
        // .more-food-menu-container{
        //     // margin:4rem 2rem;
        //     margin-left:3rem;
        // }
        .more-food-menu-link{
            padding:1rem 2rem;
        }
    
        // .menu-card-container{
        //     margin-left:20rem;
        //     margin-right:8rem;
        //     margin-top:2rem;
        //     margin-bottom:2rem;
        // }
        .menu-card{
            width:18rem;
            height:15rem;
        }
    }
}
@media (min-width: 1120px) and (max-width: 1199px) {
    .hero{
        .hero-text{
            .intro{
                font-size:2.8rem;
            }
            .hero-title{
                font-size:2.8rem;
                letter-spacing: 1px;
                margin-bottom:4rem;
            }
        
            .details{
                // padding-bottom:3rem;
                display:none;
            }
        }
        .social-icons{
            .fa-instagram, .fa-twitter, .fa-facebook{
                font-size:18px;
            }
        }
        .right-split-image-container{
            width:100%;
        }
        .right-split-side-bar{
          display:none;
        }
        .booking{
        
          padding:1rem 2rem;
        }
    }
    .home-food-menu{
        height:100vh;
        padding-bottom:1000px;
        h4{
            font-size:2rem;
            padding-top:4rem;
        }
        // .more-food-menu-container{
        //     // margin:4rem 2rem;
        //     margin-left:3rem;
        // }
        .more-food-menu-link{
            padding:1rem 2rem;
        }
    
        // .menu-card-container{
        //     margin-left:20rem;
        //     margin-right:8rem;
        //     margin-top:2rem;
        //     margin-bottom:2rem;
        // }
        // .menu-card{
        //     width:18rem;
        //     height:15rem;
        // }
    }
}
  
// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) and (max-width: 1340px) {
    .hero{
        .hero-text{
            .intro{
                font-size:2.8rem;
            }
            .hero-title{
                font-size:2.8rem;
                letter-spacing: 1px;
                margin-bottom:4rem;
            }
        
            .details{
                // padding-bottom:3rem;
                display:none;
            }
        }
        .social-icons{
            .fa-instagram, .fa-twitter, .fa-facebook{
                font-size:18px;
            }
        }
        .right-split-image-container{
            width:100%;
        }
        .right-split-side-bar{
          display:none;
        }
        .booking{
        
          padding:1rem 2rem;
        }
    }
    .home-food-menu{
        height:100vh;
        padding-bottom:1000px;
        h4{
            font-size:2rem;
            padding-top:4rem;
        }
        .more-food-menu-container{
            // margin:4rem 2rem;
            margin-right:5rem;
        }
        .more-food-menu-link{
            padding:1rem 2rem;
        }
    
        // .menu-card-container{
        //     margin-left:20rem;
        //     margin-right:8rem;
        //     margin-top:2rem;
        //     margin-bottom:2rem;
        // }
        // .menu-card{
        //     width:18rem;
        //     height:15rem;
        // }
    }
 }
@media (min-width: 1341px) and (max-width: 1500px) {
   
}

