#single-menu-page{
    padding:100px;

    .menu-nutrition{
        padding-top:4rem;
    }
    .menu-table{
        width:100%;
    }
    th{
        padding-bottom:0.5rem;
        font-size:0.9rem;
    }
    td{
        font-size:0.9rem;
        padding-bottom:0.5rem;
    }
    .td-medium{
        width:20%;
    }
    .td-large{
        width:60%;
    }
    // .menu-height{
    //     height:30px;
    // }
    .allergens{
        h4{
            font-size:0.9rem;
            padding-bottom:0.75rem;
        }
    }
    .single-menu-grid{
        display:flex;
        width:100%;
        margin:0 1rem;
    }
    
    .single-menu-image-container{
        height:64vh;
        width:60%;
    
        .single-menu-image{
            object-fit:cover;
            height:100%;
            width:100%;
        }
    }
    .single-menu-text{
        display:flex;
        justify-content: center;
        align-items:center;
        flex-direction: column;
        background-color:rgb(238, 238, 238);
        width:40%;
        padding:2rem;
        h4{
            font-size:2rem;
            font-weight:700;
            padding-bottom:1rem;
        }
        p{
            line-height: 1.5rem;
            align-items: center;
            padding-bottom:1rem;
        }
    
        .single-menu-contact{
           text-decoration: none;
           color:white;
           padding:1rem 4rem;
           background-color:orangered;
           border:1px solid transparent;
           border-radius:20rem;
           transition:all .8s ease;
           &:hover{
            background-color:rgba(0, 0, 0, 0.774);
            border:2px solid transparent;
           }
    
          
        }
    }

    // h1{
    //     font-size:2rem;
    //     font-weight:700;
    //     color:black;
    //     margin-bottom:2rem;
    // }
    // .item{
    //     margin-bottom:2rem;
    // }

    // .title{
    //     display:flex;
    //     width:100%;
    //     justify-content:space-between;
    //     margin-bottom:.5rem;
    //     h4, .price{
    //         font-size:1.4rem;
    //         color:black;
    //         font-weight:900;

    //     }
    // }
   
}
 @media (min-width:0px) and (max-width:370px){
    #single-menu-page{
        .card{
            width:150%;
            margin-left:-2rem;
            padding:0rem;
        }
        th{
            padding-bottom:0.5rem;
            padding-left:0.5rem;
            padding-right:0.5rem;
            font-size:0.9rem;
        }
        td{
            font-size:0.9rem;
            padding-bottom:0.5rem;
        }
        .td-medium{
            width:25%;
        }
        .td-large{
            width:50%;
        }
        .single-menu-grid{
            flex-direction: column;
            justify-content: center;
            align-items: center;
            margin:0rem 0rem;
        }
        
        .single-menu-image-container{
            height:64vh;
            width:200%;
            .single-menu-image{
                object-fit:contain;
            }
        }
        .single-menu-text{
            width:150%;
            padding:2rem;
            margin-left:2rem;
            h4{
                font-size:1.9rem;
            }
            p{
                line-height: 1.4rem;
                align-items: center;
            }
        
            .single-menu-contact{
               padding:0.9rem 2rem; 
               font-size:0.8rem;
            }
        }
     }
  
   
}
@media (min-width: 371px) and (max-width: 500px) {
 #single-menu-page{
    th{
        padding-bottom:0.5rem;
        padding-left:0.5rem;
        font-size:0.9rem;
    }
    td{
        font-size:0.9rem;
        padding-bottom:0.5rem;
    }
    .td-medium{
        width:25%;
    }
    .td-large{
        width:50%;
    }
    .single-menu-grid{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin:0rem 0rem;
    }
    
    .single-menu-image-container{
        height:64vh;
        width:150%;
        .single-menu-image{
            object-fit:contain;
        }
    }
    .single-menu-text{
        width:100%;
        padding:2rem;
        h4{
            font-size:1.9rem;
        }
        p{
            line-height: 1.4rem;
            align-items: center;
        }
    
        .single-menu-contact{
           padding:1rem 4rem; 
        }
    }
 }
  
}
@media (min-width: 501px) and (max-width: 540px) {
    #single-menu-page{
        th{
            padding-bottom:0.5rem;
            padding-left:0.5rem;
            font-size:0.9rem;
        }
        td{
            font-size:0.9rem;
            padding-bottom:0.5rem;
        }
        .td-medium{
            width:25%;
        }
        .td-large{
            width:50%;
        }
        .single-menu-grid{
            flex-direction: column;
            justify-content: center;
            align-items: center;
            margin:0rem 0rem;
        }
        
        .single-menu-image-container{
            height:64vh;
            width:150%;
            .single-menu-image{
                object-fit:contain;
            }
        }
        .single-menu-text{
            width:100%;
            padding:2rem;
            h4{
                font-size:1.9rem;
            }
            p{
                line-height: 1.4rem;
                align-items: center;
            }
        
            .single-menu-contact{
               padding:1rem 4rem; 
            }
        }
     }
  
}
@media (min-width: 541px) and (max-width: 767px) {
    #single-menu-page{
        th{
            padding-bottom:0.5rem;
            padding-left:0.5rem;
            font-size:0.9rem;
        }
        td{
            font-size:0.9rem;
            padding-bottom:0.5rem;
        }
        .td-medium{
            width:25%;
        }
        .td-large{
            width:50%;
        }
        .single-menu-grid{
            flex-direction: column;
            justify-content: center;
            align-items: center;
            margin:0rem 0rem;
        }
        
        .single-menu-image-container{
            height:64vh;
            width:150%;
            .single-menu-image{
                object-fit:contain;
            }
        }
        .single-menu-text{
            width:100%;
            padding:2rem;
            h4{
                font-size:1.9rem;
            }
            p{
                line-height: 1.4rem;
                align-items: center;
            }
        
            .single-menu-contact{
               padding:1rem 4rem; 
            }
        }
     }
 
}
  
// Medium devices (tablets, 768px and up)
@media (min-width: 768px) and (max-width: 900px) {
    #single-menu-page{
        th{
            padding-bottom:0.5rem;
            padding-left:0.5rem;
            font-size:0.9rem;
        }
        td{
            font-size:0.9rem;
            padding-bottom:0.5rem;
        }
        .td-medium{
            width:25%;
        }
        .td-large{
            width:50%;
        }
        .single-menu-grid{
            flex-direction: column;
            justify-content: center;
            align-items: center;
            margin:0rem 0rem;
        }
        
        .single-menu-image-container{
            height:64vh;
            width:150%;
            .single-menu-image{
                object-fit:contain;
            }
        }
        .single-menu-text{
            width:100%;
            padding:2rem;
            h4{
                font-size:1.9rem;
            }
            p{
                line-height: 1.4rem;
                align-items: center;
            }
        
            .single-menu-contact{
               padding:1rem 4rem; 
            }
        }
     }
}
@media (min-width: 901px) and (max-width: 991px) {
    #single-menu-page{
        th{
            padding-bottom:0.5rem;
            padding-left:0.5rem;
            font-size:0.9rem;
        }
        td{
            font-size:0.9rem;
            padding-bottom:0.5rem;
        }
        .td-medium{
            width:25%;
        }
        .td-large{
            width:50%;
        }
        .single-menu-grid{
            flex-direction: column;
            justify-content: center;
            align-items: center;
            margin:0rem 0rem;
        }
        
        .single-menu-image-container{
            height:64vh;
            width:150%;
            .single-menu-image{
                object-fit:contain;
            }
        }
        .single-menu-text{
            width:100%;
            padding:2rem;
            h4{
                font-size:1.9rem;
            }
            p{
                line-height: 1.4rem;
                align-items: center;
            }
        
            .single-menu-contact{
               padding:1rem 4rem; 
            }
        }
     }
}
// Large devices (desktops, 992px and up)
@media (min-width: 992px) and (max-width: 1099px) {
    #single-menu-page{
        
        .single-menu-image-container{
            .single-menu-image{
                object-fit:contain;
            }
        }

     }
}
@media (min-width: 1100px) and (max-width: 1119px) {
    #single-menu-page{
        
        .single-menu-image-container{
            .single-menu-image{
                object-fit:contain;
            }
        }

     }
}
@media (min-width: 1120px) and (max-width: 1199px) {
    #single-menu-page{
        
        .single-menu-image-container{
            .single-menu-image{
                object-fit:contain;
            }
        }

     }
}
  
// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) and (max-width: 1399px) {
    #single-menu-page{
        
        .single-menu-image-container{
            .single-menu-image{
                object-fit:contain;
            }
        }

     }
 }
@media (min-width: 1400px) and (max-width: 1500px) {
    #single-menu-page{
        
        .single-menu-image-container{
            .single-menu-image{
                object-fit:contain;
            }
        }

     }
}